// Colors

$color-blue: #2567E8;
$color-light-blue: #1CE6DA;
$color-black-blue: #111827;
$color-grey: #6C7278;
$color-black: #1A1C1E;
$color-violet: #4D81E7;
$color-deep-blue: #1D61E7;
$color-white: #FFFFFF;
$color-light-gray: #EDF1F3;
$color-light-gray2: #d2d6d8;
$color-red: lightcoral;

$color-white-50:       rgba(255, 255, 255, 0.50);
$color-white-30:       rgba(255, 255, 255, 0.30);
$color-white-20:       rgba(255, 255, 255, 0.20);
$color-deep-lilac-50:  rgba(158, 95, 196, 0.50);
$color-black-60:       rgba(0, 0, 0, 0.6);
$color-nero-50:        rgba(36, 36, 36, 0.50);
$color-grey-suit-50:   rgba(140, 140, 141, 0.5);


// Typography

$ff-exo: "Exo-2", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
